<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doce Viver</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="styles/sobreNos.css">
    <link rel="stylesheet" href="styles/navegation.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    <%- include('menu-header') %>

    <div class="content">
        <div class="text-about">
            <h1>Bem-vindo à nossa doceria!</h1>
            <h2>Quem somos?</h2>
            <p>Uma empresa familiar, em um cantinho especial no centro de Jaguariúna, onde a doçura ganha vida de forma
            artesanal. Aqui, cada doce é feito com carinho e dedicação, proporcionando uma experiência única a cada
            mordida. Desde 2022, nos empenhamos em oferecer produtos de alta qualidade e sabores irresistíveis, sempre
            priorizando ingredientes frescos e um ambiente acolhedor. Nossa missão vai além de simplesmente satisfazer o
            paladar; queremos criar memórias doces e inesquecíveis para cada cliente que nos visita. Venha nos conhecer
            e se deliciar com os melhores doces da região, preparados com todo o amor e cuidado que você merece!</p>
        </div>

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14722.405052170006!2d-46.98643872545185!3d-22.70588284041245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8e8043658991f%3A0x332b492bba49f0b2!2sR.%20Alfredo%20Bueno%2C%201062%20-%20Centro%2C%20Jaguari%C3%BAna%20-%20SP%2C%2013910-027!5e0!3m2!1spt-BR!2sbr!4v1713470407421!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <footer>
        <div class="footer-basic">
            <div class="social">
                <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv"><i class="icon ion-social-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone"><i class="icon ion-social-whatsapp"></i></a>
                <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9"><i class="fa fa-map-marker"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Início</a></li>
                <li class="list-inline-item"><a href="sobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a href="cardapio">Cardápio</a></li>
                <li class="list-inline-item"><a href="galeria">Galeria</a></li>
                <li class="list-inline-item"><a href="contato">Contato</a></li>
                <li class="list-inline-item"><a href="fazerPedido">Fazer pedido</a></li>
            </ul>
            <p class="copyright">Doce Viver © 2024</p>
        </div>
    </footer>
</body>
</html>
