<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles/navegation.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/ifsp.css">
</head>

<body>

<%- include('menu-header') %>

<main>
    <section class="principal">
        <h2>Instituto Federal São Paulo Câmpus Campinas</h2>
        <img class="instituto" src="Imagens/logoIF.png" alt="Logotipo do Instituto Federal São Paulo Câmpus Campinas">
        <p>Nós somos alunas do 4° semestre do curso de ADS do Instituto Federal de Campinas.</p>
        <p>Este trabalho corresponde ao Projeto do 4° semestre - Prof. André Bordignon </p>
        <p>O <strong>Instituto Federal</strong> é uma escola técnica e faculdade federal, que oferta cursos gratuitos de Informática, Eletrônica, Análise e Desenvolvimento de Sistemas, entre outros. Em Campinas, está localizada em um prédio novo na região do Campo Grande, no bairro Satélite Íris 1.</p>
    </section>
</main>
<!-- Card 1 -->
    <div class="pessoas">
        <div class="property-card">
            <div class="property-image1"></div>
            <div class="property-description">
                <h3>Ester Cattaneo</h3>
                <h4>CP3024202</h4>
            </div>
        </div>
    </div>
<!-- Card 2 -->
    <div class="pessoas">
        <div class="property-card">
            <div class="property-image2"></div>
            <div class="property-description">
                <h3>Giovana Marques</h3>
                <h4>CP3026477</h4>
            </div>
        </div>
    </div>
<!-- Card 3 -->
    <div class="pessoas">
        <div class="property-card">
            <div class="property-image3"></div>
            <div class="property-description">
                <h3>Thais Yuri Hirata</h3>
                <h4>CP3024962</h4>
            </div>
        </div>
    </div>

<footer>
    <div class="footer-basic">
        <div class="social">
            <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv"><i class="icon ion-social-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone"><i class="icon ion-social-whatsapp"></i></a>
            <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9"><i class="fa fa-map-marker"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Início</a></li>
            <li class="list-inline-item"><a href="sobreNos">Sobre nós</a></li>
            <li class="list-inline-item"><a href="cardapio">Cardápio</a></li>
            <li class="list-inline-item"><a href="galeria">Galeria</a></li>
            <li class="list-inline-item"><a href="ifsp">IFSP</a></li>
            <li class="list-inline-item"><a href="fazerPedido">Fazer pedido</a></li>
        </ul>
        <p class="copyright">Doce Viver © 2024</p>
    </div>
</footer>

</body>
</html>
