<!DOCTYPE html>
<html lang="pt">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doceria Doce Viver</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles/estilo.css">
    <link rel="stylesheet" href="styles/navegation.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body> 
    <%- include('menu-header') %>

    <div class="container">
        <div class="carousel">
            <div class="carousel__face"><span>Aconchego</span></div>
            <div class="carousel__face"><span>Encanto</span></div>
            <div class="carousel__face"><span>Especial</span></div>
            <div class="carousel__face"><span>Carinho</span></div>
            <div class="carousel__face"><span>Suavidade</span></div>
            <div class="carousel__face"><span>Dedicação</span></div>
            <div class="carousel__face"><span>Doçura</span></div>
            <div class="carousel__face"><span>Qualidade</span></div>
            <div class="carousel__face"><span>Para você</span></div>
        </div>
    </div>

    <div class="container_content">
        <div class="container_content_inner">
            <div class="title">
                <h1>Aqui tem amor em forma de doces!</h1>
            </div>
            <div class="par">
                <p>Aproveite nosso cardápio!</p>
            </div>
            <div class="btns">
                <a href="cardapio" class="btn">Ver cardápio</a>
                <br>
            </div>
            <p>Faça seu pedido da forma que preferir.</p>
            <div class="social">
                <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv">
                    <i class="icon ion-social-instagram"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone">
                    <i class="icon ion-social-whatsapp"></i>
                </a>
                <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9">
                    <i class="fa fa-map-marker"></i>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-basic">
            <div class="social">
                <a href="https://www.instagram.com/doce_viver_sh/?igsh=d21oNHhyb253dmZv"><i class="icon ion-social-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=seu-numero-de-telefone"><i class="icon ion-social-whatsapp"></i></a>
                <a href="https://maps.app.goo.gl/xmEBu6z6M5VTdjGd9"><i class="fa fa-map-marker"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Início</a></li>
                <li class="list-inline-item"><a href="sobreNos">Sobre nós</a></li>
                <li class="list-inline-item"><a href="cardapio">Cardápio</a></li>
                <li class="list-inline-item"><a href="galeria">Galeria</a></li>
                <li class="list-inline-item"><a href="ifsp">IFSP</a></li>
                <li class="list-inline-item"><a href="fazerPedido">Fazer pedido</a></li>
            </ul>
            <p class="copyright">Doce Viver © 2024</p>
        </div>
    </footer>
    
    <script>
        // Função para exibir alert se a mensagem for passada na URL
        window.onload = () => {
          const urlParams = new URLSearchParams(window.location.search);
          if (urlParams.get('message') === 'logout_sucesso') {
            alert('Logout realizado com sucesso!');
          }
        };
      </script>
</body>
</html>
