<div class="header">
    <div class="image"></div>
    <nav>
        <a class="btn" href="/">Home</a>
        <a class="btn" href="sobreNos">Sobre nós</a>
        <a class="btn" href="cardapio">Cardápio</a>
        <a class="btn" href="galeria">Galeria</a>
        <a class="btn" href="fazerPedido">Faça seu pedido</a>
        <a class="btn" href="faleConosco">Fale Conosco</a>
        <% if(user) {%> <a class="btn" href="/meusPedidos"> <% if(user.admin == 1) {%> Todos Pedidos </a> <%} else{ %> Meus Pedidos </a> <%}}%>
        <% if(!user) {%><a class="btn" href="/login">Login</a><%}%>
        <% if(user) { if(user.admin == 1) {%> <a class="btn" href="/editarCardapio">Editar Cardápio</a><%}}%>
        <a class="btn" href="ifsp">IFSP</a>
        <% if(user) {%> <a class="btn" href="/sair">Sair</a><%}%>
    </nav>
</div>